<div class="container-fluid fondo_negro">
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-2">
      <div class="card text-white fondo_negro mb-3 ancho_cartita">
        <div class="card-header text-center borde_inferior">QUICK LINKS</div>
        <div class="card-body p-0 pt-3">
          <ul class="">
            <li class="">
              <a href="#" class="">Home</a>
            </li>
            <li class="">
              <a href="#">Blog</a>
            </li>
            <li class="">
              <a href="#">Styles</a>
            </li>
            <li class="">
              <a href="#">About</a>
            </li>
            <li class="">
              <a href="#">Contact</a>
            </li>
            <li class="">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!--Fin columna-->

    <div class="col-12 col-sm-4 col-lg-2">
      <div class="card text-white fondo_negro mb-3 ancho_cartita">
        <div class="card-header text-center borde_inferior">ARCHIVES</div>
        <div class="card-body p-0 pt-3">
          <ul class="">
            <li class="">
              <a href="#" class="">January 2018</a>
            </li>
            <li class="">
              <a href="#">December 2017</a>
            </li>
            <li class="">
              <a href="#">November 2017</a>
            </li>
            <li class="">
              <a href="#">October 2017</a>
            </li>
            <li class="">
              <a href="#">September 2017</a>
            </li>
            <li class="">
              <a href="#">August 2017</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!--Fin columna-->

    <div class="col-12 col-sm-4 col-lg-2">
        <div class="card text-white fondo_negro mb-3 ancho_cartita">
          <div class="card-header text-center borde_inferior">SOCIAL</div>
          <div class="card-body p-0 pt-3">
            <ul class="">
              <li class="">
                <a href="#" class="">Facebook</a>
              </li>
              <li class="">
                <a href="#">Instagram</a>
              </li>
              <li class="">
                <a href="#">Twitter</a>
              </li>
              <li class="">
                <a href="#">Pinterest</a>
              </li>
              <li class="">
                <a href="#">Google+</a>
              </li>
              <li class="">
                <a href="#">LinkedIn</a>
              </li>
            </ul>
          </div>
  
        </div>
  
      </div>
      <!--Fin columna-->

      <div class="col-12 col-sm-12 col-lg-6">
          <div class="card text-white fondo_negro mb-3 ">
            <div class="card-header text-center borde_inferior">OUR NEWSLETTER</div>
            <div class="card-body p-0 pt-3">
              <ul class="">
                <li class="">
                  <a href="#" >Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</a>
                </li>
              </ul>
            </div>
    
          </div>
    
        </div>
        <!--Fin columna-->

  </div>
  <!--Fin fila-->
</div>
<!--Fin contenedor fluido-->