<div class="container-fluid fondo_negro">
  <div class="row text-center">
    <div class="col-12 col-sm-4 col-lg-2">
      <div class="card text-white fondo_negro mb-3 ancho_cartita">
        <div class="card-header text-center borde_inferior">QUICK LINKS</div>
        <div class="card-body p-0 pt-3">
          <ul class="">
            <li class="">
              <a href="#" class="">Home</a>
            </li>
            <li class="">
              <a href="#">Blog</a>
            </li>
            <li class="">
              <a href="#">Styles</a>
            </li>
            <li class="">
              <a href="#">About</a>
            </li>
            <li class="">
              <a href="#">Contact</a>
            </li>
            <li class="">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!--Fin columna-->

    <div class="col-12 col-sm-4 col-lg-2">
      <div class="card text-white fondo_negro mb-3 ancho_cartita">
        <div class="card-header text-center borde_inferior">ARCHIVES</div>
        <div class="card-body p-0 pt-3">
          <ul class="">
            <li class="">
              <a href="#" class="">January 2018</a>
            </li>
            <li class="">
              <a href="#">December 2017</a>
            </li>
            <li class="">
              <a href="#">November 2017</a>
            </li>
            <li class="">
              <a href="#">October 2017</a>
            </li>
            <li class="">
              <a href="#">September 2017</a>
            </li>
            <li class="">
              <a href="#">August 2017</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!--Fin columna-->

    <div class="col-12 col-sm-4 col-lg-2">
      <div class="card text-white fondo_negro mb-3 ancho_cartita">
        <div class="card-header text-center borde_inferior">SOCIAL</div>
        <div class="card-body p-0 pt-3">
          <ul class="">
            <li class="">
              <a href="#" class="">Facebook</a>
            </li>
            <li class="">
              <a href="#">Instagram</a>
            </li>
            <li class="">
              <a href="#">Twitter</a>
            </li>
            <li class="">
              <a href="#">Pinterest</a>
            </li>
            <li class="">
              <a href="#">Google+</a>
            </li>
            <li class="">
              <a href="#">LinkedIn</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!--Fin columna-->

    <div class="col-12 col-lg-6">
      <div class="card text-white fondo_negro mb-3 ">
        <div class="card-header text-center borde_inferior">OUR NEWSLETTER</div>
        <div class="card-body p-0 pt-3">
          <ul class="">
            <li class="">
              <a href="#">{{newsletter}}</a>
            </li>
            <li>
              <div class="form m-5">
                <div class="row justify-content-center">
                  <div class="col-10 p-0">
                    <input type="email" class="form-control pl-5 fondo_icono_mail fondo_borde_email" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="Enter email">
                  </div>
                  <div class="col-2 p-0">
                    <button type="submit" class="btn fondo_boton_send">SEND</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!--Fin columna-->

  </div>
  <!--Fin fila-->
  <div class="row justify-content-md-center">
    <div class="col-10 col-sm-4 borde_derecha">
      <span class="footer_copyright">&copy;Copyright Philosophy 2018</span>
    </div>
    <div class="col-10 col-sm-4 offset-md-1">
      <span class="colorlib">Site template by
        <a href="#">Colorlib</a>
      </span>
    </div>
  </div>
  <!--fin fila-->
</div>
<!--Fin contenedor fluido-->