<div class="container">
  <div class="row">
    <div class="col-md-7 col-12 a">
      <div class="row a-1"></div>
      <div class="row a-2">
        <button type="button" class="btn btn-info a-2-1">{{boton}}</button>
      </div>
      <div class="row a-3">
        <div class="a-3-1">
          {{cont}}
        </div>
      </div>
      <div class="row a-4">
        <div class="a-4-1">
          {{footer}}
        </div>
      </div>
      <div class="cuadro"></div>
    </div>
    <div class="col-md-5 col-12 b">
      <div class="row b-1">
        <div class="col-12 b-1-1">
          <div class="row b-1-1-1"></div>
          <div class="row b-1-1-2">
            <button type="button" class="btn btn-info b-1-1-2-1">{{boton1}}</button>
          </div>
          <div class="row b-1-1-3">
            <div class="b-1-1-3-1">
              {{cont1}}
            </div>
          </div>
          <div class="row b-1-1-4">
            <div class="b-1-1-4-1">
              {{footer}}
            </div>
          </div>
          <div class="cuadro"></div>
        </div>
      </div>
      <div class="row b-2">
        <div class="col-12 b-2-1">
          <div class="row b-2-1-1"></div>
          <div class="row b-2-1-2">
            <button type="button" class="btn btn-info b-2-1-2-1">{{boton2}}</button>
          </div>
          <div class="row b-2-1-3">
            <div class="b-2-1-3-1">
            {{cont2}}
            </div>
          </div>
          <div class="row b-2-1-4">
            <div class="b-2-1-4-1">
              {{footer}}
            </div>
          </div>
          <div class="cuadro"></div>
        </div>
      </div>
    </div>
  </div>
</div>