<div class="container-fluid">
    <h5 class="text-center fila1">{{boton}}</h5>
    <div class="row justify-content-center  p-0 m-0">
    
      
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2" ><button type="button" class="btn btn-outline-dark lb">{{boton1}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2" ><button type="button" class="btn btn-outline-dark lb">{{boton2}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2" ><button type="button" class="btn btn-outline-dark lb">{{boton3}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2" ><button type="button" class="btn btn-outline-dark lb">{{boton4}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2" ><button type="button" class="btn btn-outline-dark lb">{{boton5}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2" ><button type="button" class="btn btn-outline-dark lb">{{boton6}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2" ><button type="button" class="btn btn-outline-dark lb">{{boton7}}</button></div>
    </div>
    <div class="row justify-content-center p-0 m-0 ">
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2"><button type="button" class="btn btn-outline-dark lb">{{boton8}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2"><button type="button" class="btn btn-outline-dark lb">{{boton9}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2"><button type="button" class="btn btn-outline-dark lb">{{boton10}}</button></div>
      <div class="col-5 col-sm-2 col-md-2 col-lg-1 m-2"><button type="button" class="btn btn-outline-dark lb">{{boton11}}</button></div>
      
    </div>
  </div>
