.fila1{
    background-color: white;
    height: 100%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin:  50px;
}
.lb{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
