<div class="contenedor">
   
  <div class="container-fluid ">
  <div class="row">
    <div class="col-sm-4">
      <div class="imagen"><img src="../../assets/imagenes/facebook.png"></div>
      <div class="imagen"><img src="../../assets/imagenes/twitter.png"></div>
      <div class="imagen"><img src="../../assets/imagenes/instagram.png"></div>
      <div class="imagen"><img src="../../assets/imagenes/pinterest.png"></div>
    </div>
  
    <div class="col-sm-4 titulo">Philosophy.</div>
    <div class="col-sm-4 search">SEARCH
    <img class="lupa" src="../../assets/imagenes/lupa.png">
    </div>
  
    
  </div>
  </div>
  </div>
  <div class="barra">
  <div class="barrados">
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Lifestyle</a>
                  <a class="dropdown-item" href="#">Health</a>
                  <a class="dropdown-item" href="#">Family</a>
                  <a class="dropdown-item" href="#">Management</a>
                  <a class="dropdown-item" href="#">Travel</a>
                  <a class="dropdown-item" href="#">Work</a>                
                </div>
                
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>        
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Lifestyle</a>
                    <a class="dropdown-item" href="#">Health</a>
                    <a class="dropdown-item" href="#">Family</a>
                    <a class="dropdown-item" href="#">Management</a>
                    <a class="dropdown-item" href="#">Travel</a>
                    <a class="dropdown-item" href="#">Work</a>                
                  </div>      
  
  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Styles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
  </div>
