<div class="container">
        <div class="row">   
               
                <div class="col-md-8">  
                      <div class="row"> 
                        
                      <div class=" col-md-11 tituloPost titulos font-weight-bold">Popular Posts</div>
                  </div>
                  </div>
                <div class="col-md-4">
                      <div class="row"> 
                      
                      <div class=" col-md-11 tituloPost titulos font-weight-bold">About Philosophy</div>
                
                </div> </div>
              
                <div class="col-md-4">
                <div class="row">
                <div class="primera">
                 
      
                <div class="row margenderecha">  
                <div class="col-md-3"><a  href="URL_DE_WEB"><img src="../../assets/imgParte/1parte.jpg" srcset=""></a></div>
                              <div class="col-md-9"><a class="estiloMay" href="URL_DE_WEB"><div>Visiting Theme Parks Improves Your Health</div></a><br>
                                  <div class="font-weight-light letrasPequeñas">By John Doe on Dec 19, 2017</div>  </div>
      
                                </div>
              </div>
                    </div>
              <div class="row">
              <div class="segunda">
                  <div class="row margenderecha">
                      <div class="col-md-3"><a  href="URL_DE_WEB"><img src="../../assets/imgParte/3parte.jpg" srcset=""></a></div>
                      <div class="col-md-9"><a class="estiloMay" href="URL_DE_WEB">Absolutely No Sugar Oatmeal Cookies.</a><br>
                          <div class="font-weight-light letrasPequeñas">By John Doe on Dec 16, 2017
      
                          </div>
                         </div>
                        </div>
              </div>
              </div>  
              <div class="row">
                  <div class="tercera">
                      <div class="row margenderecha">
                          <div class="col-md-3"><a  href="URL_DE_WEB"><img src="../../assets/imgParte/5parte.jpg" srcset=""></a></div>
                          <div class="col-md-9"><a class="estiloMay" href="URL_DE_WEB">10 Interesting Facts About Caffeine.</a><br>
                              <div class="font-weight-light letrasPequeñas">By John Doe on Dec 14, 2017 
                          </div>
      
                            </div>
                  </div>
                  </div>  
            </div>
          </div>
              <div class="col-md-4">
                  <div class="row">
                <div class="cuarta">
                    <div class="row margenderecha">
                        <div class="col-md-3"><a  href="URL_DE_WEB"><img src="../../assets/imgParte/2parte.jpg" srcset=""></a></div>
                        <div class="col-md-9"><a class="estiloMay" href="URL_DE_WEB">Key Benefits Of Family Photography.</a><br>
                          <div class="font-weight-light letrasPequeñas">By John Doe on Dec 18, 2017 
                          </div>
                      </div>
      
                          </div>
      
                </div>
              </div>
                <div class="row">
              <div class="cuarta"><div class="row margenderecha">
                  <div class="col-md-3"><a  href="URL_DE_WEB"><img src="../../assets/imgParte/4parte.jpg" srcset=""></a></div>
                  <div class="col-md-9"><a class="estiloMay" href="URL_DE_WEB">Throwback To The Good Old Days.</a><br>
                     <div class="font-weight-light letrasPequeñas"> By John Doe on Dec 16, 2017
                     </div>
                  </div>
                    </div>
                  </div>
            </div>
              <div class="row">
                  <div class="quinta">
                      <div class="row margenderecha">
                          <div class="col-md-3"><a  href="URL_DE_WEB"><img src="../../assets/imgParte/6parte.jpg" srcset=""></a></div>
                          <div class="col-md-9 "><a class="estiloMay" href="URL_DE_WEB">Healthy Mediterranean Salad Recipes</a><br>
                              <div class="font-weight-light letrasPequeñas margen">By John Doe on Dec 16, 2017 </div>
                          </div>
      
                            </div>
                  
                  </div>  
            
              </div>
          </div>
              <div class="col-md-4">
                  <div class="row">
              <div class="izquierda margenEspecial font-weight-light">Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. 
                  Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus
                   orci luctus et ultrices posuere cubilia Curae; 
                  Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque 
                  velit nisi, 
                  pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
              </div>
          </div>           
          <div class="row padIconos">
              <div class="iconos iconofece" >
                      <a  href="URL_DE_WEB"></a>
              </div>
               <div class="iconos iconotwit" href="URL_DE_WEB"></div>
              <div class="iconos iconoinstagram">
                      <a  href="URL_DE_WEB"></a>
              </div>
      <div   class="iconos iconopinter">
              <a  href="URL_DE_WEB"></a>
      </div>
      
          </div>
               </div>
       
      </div>
      </div>