<div class="container">
  <div class="row">
      
      <div class="col-md-9">
          <div class="tituloPost">lo mas popular</div>
      </div>
      <div class="col-md-3">
          About Philosophy
      </div>
           
    <div class="col-md-4">
              <div class="row">
        <div class="primera">
            <div class="row">
                        <div class="col-md-3"><img src="../../assets/imgParte/1parte.jpg" srcset=""></div>
                        <div class="col-md-9">Visiting Theme Parks Improves Your Health.
                           By John Doe on Dec 19, 2017</div>

                          </div>
        </div>
              </div>
        <div class="row">
        <div class="segunda">
            <div class="row">
                <div class="col-md-3"><img src="../../assets/imgParte/2parte.jpg" srcset=""></div>
                <div class="col-md-9">Visiting Theme Parks Improves Your Health.
                   By John Doe on Dec 19, 2017</div>
                  </div>
        </div>
        </div>  
        <div class="row">
            <div class="tercera">
                <div class="row">
                    <div class="col-md-3"><img src="../../assets/imgParte/3parte.jpg" srcset=""></div>
                    <div class="col-md-9">Visiting Theme Parks Improves Your Health.
                       By John Doe on Dec 19, 2017</div>

                      </div>
            </div>
            </div>  
      </div>
        <div class="col-md-4">
            <div class="row">
          <div class="cuarta">
              <div class="row">
                  <div class="col-md-3"><img src="../../assets/imgParte/4parte.jpg" srcset=""></div>
                  <div class="col-md-9">Visiting Theme Parks Improves Your Health.
                     By John Doe on Dec 19, 2017</div>

                    </div>

          </div>
        </div>
          <div class="row">
        <div class="cuarta"><div class="row">
            <div class="col-md-3"><img src="../../assets/imgParte/5parte.jpg" srcset=""></div>
            <div class="col-md-9">Visiting Theme Parks Improves Your Health.
               By John Doe on Dec 19, 2017</div>
              </div>
            </div>
      </div>
        <div class="row">
            <div class="segunda">
                <div class="row">
                    <div class="col-md-3"><img src="../../assets/imgParte/6parte.jpg" srcset=""></div>
                    <div class="col-md-9">Visiting Theme Parks Improves Your Health.
                       By John Doe on Dec 19, 2017</div>

                      </div>
            </div>
            </div>  
      
        </div>
        
        <div class="col-md-4">
        <div class="izquierda">About Philosophy
            Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. 
            Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus
             orci luctus et ultrices posuere cubilia Curae; 
            Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque 
            velit nisi, 
            pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.</div>
                         
         </div>
 
</div>
</div>